@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #e2e8f0;
    font-family: 'DMSans';
    font-style: normal;
}

@layer components {
    .transitionSlow {
        @apply transition-all duration-500 ease-in-out
    }
    .neuShadowIn {
        box-shadow: 9px 9px 8px -2px rgb(163,177,198,0.6) inset, -9px -9px 8px -2px rgba(255,255,255, 0.5) inset
    }
    .neuShadowOut {
        box-shadow: 9px 9px 8px -2px rgb(163,177,198,0.6), -9px -9px 8px -2px rgba(255,255,255, 0.5)
    }
    .textShadowOut {
        text-shadow: 5px 5px 8px rgb(163,177,198,0.6), -5px -5px 8px rgba(255,255,255, 0.5)
    }
    .textGlow {
        filter: drop-shadow(0 0 12px currentColor);
        opacity: 1;
        transition: opacity 150ms ease-in-out;
    }
}

@font-face {
    font-family: "DMSans";
    src: url("../assets/fonts/DM_Sans/DMSans-Regular.woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "DMSans";
    src: url("../assets/fonts/DM_Sans/DMSans-Bold.woff");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: "DMSans";
    src: url("../assets/fonts/DM_Sans/DMSans-BoldItalic.woff");
    font-weight: bolder;
    font-style: italic;
}

@font-face {
    font-family: "DMSans";
    src: url("../assets/fonts/DM_Sans/DMSans-Italic.woff");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "DMSans";
    src: url("../assets/fonts/DM_Sans/DMSans-Medium.woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "DMSans";
    src: url("../assets/fonts/DM_Sans/DMSans-MediumItalic.woff");
    font-weight: bold;
    font-style: italic;
}
